GEMINI_API_KEY=<<<add gemini key>>>
WEATHER_API_URL=https://api.open-meteo.com/v1/forecast?hourly=temperature_2m,precipitation_probability,weather_code,wind_speed_10m&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,uv_index_max,precipitation_sum,wind_speed_10m_max,wind_direction_10m_dominant&timezone=Europe%2FBerlin
MONGODB=mongodb://localhost:27017/llm-gen
FRONTEND_URL=http://localhost:3000